@{
    ViewData["Title"] = "Admin Index";
    Layout = "_LayoutAdmin";
}

<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="text-center">
    <h1 class="display-1">Welcome to Manager Index Page!</h1>
</div>
