
<div class="card mb-4">
    <div class="card-header" id="manager-table" style="cursor: pointer">
        <i class="fas fa-table mr-1"></i>
        Product Table
        <i class="fas fa-caret-down float-right"></i>
    </div>
    <div class="card-body" id="manager-table-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="productDataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="text-center">
                        <th>Name</th>
                        <th>Stock Warning</th>
                        <th>Selling Price</th>
                        <th>Stock</th>
                        <th>Action Link</th>
                        <th>Edit Link</th>
                    </tr>
                </thead>
                
            </table>
        </div>
    </div>
</div>