@model Models.ManagerPanelModels.ProductViewModel
@{
    ViewData["Title"] = "Edit Product";
    Layout = "_LayoutManager";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">Edit Product</h3></div>
                <div class="card-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger alert alert-danger" })
                    <form id="addProductForm" asp-action="EditProduct" class="" autocomplete="off">
                        @Html.AntiForgeryToken()
                        <div class="form-group" style="visibility: hidden">
                            <label class="small mb-1" for="name">Name</label>
                            <input asp-for="Id" class="form-control py-4" id="id" type="text">
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="name">Name</label>
                            <input asp-for="Name" class="form-control py-4" id="name" type="text" placeholder="Enter Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label class="small mb-1" for="sellingPrice">Selling Price</label>
                            <input asp-for="SellingPrice" class="form-control py-4" id="sellingPrice" placeholder="Enter Selling Price">
                            <span asp-validation-for="SellingPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="sellingPrice">Buying Price</label>
                            <input asp-for="BuyingPrice" class="form-control py-4" id="buyingPrice" placeholder="Enter Buying Price">
                            <span asp-validation-for="BuyingPrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="type">Product Type</label>
                            <select asp-for="ProductType" class="form-control py--4" id="type">
                                <option disabled selected value=""> -- Please Select -- </option>
                                <option value="Barcode">Barcode</option>
                                <option value="NonBarcode">Non-Barcode</option>
                            </select>
                            <span asp-validation-for="ProductType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="buyingPrice">Stock Empty Warning</label>
                            <input asp-for="StockWarning" class="form-control py-4" id="buyingPrice" placeholder="Enter Warning Amount( Stock Empty Warning)">
                            <span asp-validation-for="StockWarning" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="details">Details</label>
                            <textarea asp-for="Details" class="form-control py-4" id="details" type="text" placeholder="Enter Details"></textarea>
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-4 mb-0"><button type="submit" class="customBtn-admin-primary text-white btn-block border-0">Add Product</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
