
<div class="card mb-4">
    @* <div class="card-header" id="seller-table-header" style="cursor: pointer"> *@
    @*     <i class="fas fa-table mr-1"></i> *@
    @*     Product Table *@
    @*     <i class="fas fa-caret-down float-right"></i> *@
    @* </div> *@
    <div class="card-body" id="seller-table-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="sellerDataTable" width="100%" cellspacing="0">
                <colgroup>
                    <col span="1" style="width: 71%;">
                    <col span="1" style="width: 29%;">

                    @* <col span="1" style="width: 10%;"> *@
                </colgroup>
                <thead>
                <tr class="text-center">
                    <th>Name</th>
                    <th>Selling Price</th>
                    <th></th>
                </tr>
                </thead>

            </table>
        </div>
        
    </div>
</div>

<div style="text-align: right; margin-top: -3%;margin-bottom: 2%" class="row">
    <div class="col-9"></div>
    <input style="border: 2px solid red; width: 20%; margin-top: 3%" class="form-control" placeholder="Discount Amount" id="discount"/>
</div>
<div class="table-responsive">
    <table class="table table-bordered" id="sellerDataTable" width="100%" cellspacing="0">
        <colgroup>
            <col span="1" style="width: 69.5%;">
            <col span="1" style="width: 30.5%;">
            
        </colgroup>
        <thead>
            <tr class="text-center">
                <td>Total Price</td>
                <td id="total">0.00</td>
                
                @* <th>Action Link</th> *@
            </tr>
        </thead>

    </table>
</div>