@{
    ViewData["Title"] = "Seller Index";
    Layout = "_LayoutSeller";
}
<style>
    .fullDisplay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 9999999;
    }
</style>
<div style="text-align: center; margin-top: 1%;margin-bottom: 2%">

    <h3>Purchase Counter</h3>
</div>
<div id="loading" class="fullDisplay" style="background-color: white;display: none">
    <div style="background: url('/images/loading.gif') no-repeat center center;" class="fullDisplay"></div>


    @*<input placeholder="Product Id" id="inbox" />
    <input placeholder="Name" id="name" />
    <input placeholder="Phone Number" id="phone" />*@

</div>
<div class="row">
    <div class="col-8" style="margin-top: 5%">

        <div class="col-4" style="margin-top: 2%;margin-bottom: 1%">
            <input style="border: 2px solid black;margin-left: -5%" class="form-control" placeholder="Product Id" id="inbox" />
        </div>

    </div>
    <div class="col-1"></div>
    <div class="col-3" style="padding: 1%; text-align: left">
        <div class="col-12">
            <input style="border: 2px solid black; margin-top:3%" class="form-control" placeholder="Customer Name" id="name" />
            <input style="border: 2px solid black;margin-top: 2%" class="form-control" placeholder="Phone Number" id="phone" />


<div id="content" class="card mb-4">
    <div class="card-header" id="manager-table-header" style="cursor: pointer">
        <i class="fas fa-table mr-1"></i>
        Product Invoice
        <i class="fas fa-caret-down float-right"></i>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label class="mb-1" for="inbox">Product</label>
            <input class="form-control" placeholder="Product Id" id="inbox" />
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="mb-1" for="name">Buyer Name</label>
                    <input class="form-control" placeholder="Name" id="name" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="mb-1" for="phone">Buyer Phone</label>
                    <input class="form-control" placeholder="Phone Number" id="phone" />
                </div>
            </div>
        </div>
    </div>

    @{
        await Html.RenderPartialAsync("_ProductTable");
    }
</div>

<div style="text-align: center">
    <button class="btn btn-success" id="checkout"> Checkout </button>
</div>

<div id="elementH"></div>

<div class="container m-auto" id="showInvoice"></div>


<script>


    var array = [];

    $(document).ajaxStart(function () {
        $("#loading").css("display", "block");
    });

    $(document).ajaxComplete(function(){
        $("#loading").css("display", "none");
    });

    $('#inbox').keyup(function (e) {
        if (e.keyCode == 13) {
            var str = $("#inbox").val();

            $.ajax({
        type: "GET",
                url: '@Url.Action("GetProduct", "SellerPanel")',
                contentType: "application/json; charset=utf-8",
                data: {
                    id: $('#inbox').val()
                },
                success: function (response) {
                    var json_response = JSON.stringify(response);

                    $('#inbox').val('');
                    if (response.status === "Not Found") {
                        alert("Product Not Found");

                    } else {
                        var trHTML = '';
                        trHTML += '<tr class="eachItem"><td class="text-center productName">' + response.res.productTitle + '</td><td class="text-center productPrice">' + response.res.sellingPrice + '</td><td class="text-center"><button onclick="javascript: removeRow(this)" class="deleteIcon btn btn-danger">Remove</button></td></tr>';
                        $('#productToBeSold').append(trHTML);

                        array.push(response.res.id);
                        $('#total').text(getTotalPrice());
                    }
                },
                error: function (response) {
                    alert(response);
                }
            });
        }
    });


    $('#discount').keyup(function(e) {

        if (e.keyCode == 13) {
            $('#total').text(getTotalPrice());
        }
    });

    function removeRow(e) {
        $(e).closest('tr').remove();
        let price = getTotalPrice();
        $("#total").text(price);
    }

    $('#checkout').click(function () {
        $('#total').text(getTotalPrice());
        createInvoice();
        
        console.log(array.length);

        $.ajax({
        type: "POST",
            url: '@Url.Action("SellProduct", "SellerPanel")',
            datatype: "json",
            data: {
        //Passing Input parameter
                name: $('#name').val(),
                phone: $('#phone').val(),
                pay: due,
                total: total,
                discount : discount,
                order: JSON.stringify(array)
            },
            success: function (response) {
                if(response.status === "Ok") {
                    alert("Successfully Sold")
                    location.reload(true);
                }
                else {
                    alert("Fail");
                }
            },
            error: function (response) {
                alert("Fail Req");
            }
        });
    });
    function getTotalPrice() {
        let totalPrice = 0.00;
        $('tr.eachItem').each(function() {
            let price = $(this).find('td.productPrice').text();
            totalPrice = (parseFloat(totalPrice) + parseFloat(price)).toFixed(1);
        });
        let discount = $("#discount").val();
        totalPrice = (parseFloat(totalPrice) - parseFloat(discount)).toFixed(1);
        return totalPrice;
    }

</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" integrity="sha512-s/XK4vYVXTGeUSv4bRPOuxSDmDlTedEpMEcAQk0t/FMd9V6ft8iXdwSBxV0eD60c6w/tjotSlKu9J2AAW1ckTA==" crossorigin="anonymous"></script>
<script>


    function createInvoice() {
        let productList = [];
        let totalPrice = 0.00;
        let buyerName = $("#name").val();
        let buyerPhone = $("#phone").val();
        if (buyerName === "" || buyerName === undefined){
            buyerName = "N/A";
        }
        if (buyerPhone === "" || buyerPhone === undefined){
            buyerPhone = "N/A";
        }
        
        let domStart = `<div id="invoice-content" class="m-auto" style="width: 400px; background: white">
                            <h1 class="d-flex justify-content-center" style="color: green">Invoice</h1><hr>
                            <p id="name" class="list-group-item">Customer Name: ${buyerName}</p>
                            <p id="name" class="list-group-item">Customer Phone: ${buyerPhone}</p>
                            <br>
                            <table class="table">
                                <thead><th>Product</th><th>Qty</th><th>Unit$</th><th>Price$</th></thead>     
                                <tbody>`;
        let row = '';
        $('tr.eachItem').each(function() {
            let name = $(this).find('td.productName').text();
            let price = $(this).find('td.productPrice').text();
            totalPrice = (parseFloat(totalPrice) + parseFloat(price)).toFixed(1);
            let quantity = 1;
            for( let i = 0; i < productList.length; i++){
                let prodName = productList[i].productName;
                if(prodName === name){
                    quantity += 1;
                    productList[i].productQuantity += parseInt(1);
                }
            }
            if (quantity === 1){
                productList.push({productName: name, productPrice: price, productQuantity: quantity});
            }
        });
        
        for( let i = 0; i < productList.length; i++){
            let prodName = productList[i].productName;
            let prodPrice = productList[i].productPrice;
            let prodQuantity = productList[i].productQuantity;
            row = row + `<tr><td>${prodName}</td> <td>${prodQuantity}</td> <td>${prodPrice}</td> <td>${prodPrice*prodQuantity}</td></tr>`;
        }
        
        let discount = $("#discount").val();
        totalPrice = (parseFloat(totalPrice) - parseFloat(discount)).toFixed(1);
        
        let domEnd =        `<tr style="background: #eeeeee"><td colspan="3" class="text-right">Discount $</td><td>${discount}</td></tr>
                             <tr style="background: #eeeeee"><td colspan="3" class="text-right">Total Price $</td><td>${totalPrice}</td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="mt-3" style="text-align: center">
                        <button class="btn btn-success" onclick="javascript: downloadPDF()"> Print Invoice </button>
                    </div>
                    `;
        let finalDom = domStart + row + domEnd;
        $("#showInvoice").append(finalDom);
    }

    function downloadPDF() {
        var doc = new jsPDF('p', 'mm', [105.83, 296]);
        var str = `<h1 style='color: red'>Invoice</h1>             
                    <br>
                    <h3> Buyer Name: ${$("#name").val()}
                    <br>
                    <h3> Buyer PhoneNo: ${$("#phone").val()}
                    <br>
                    <h3>Total Price: ${$("#total").val()}</h3>`;
        
        doc.addHTML(document.getElementById('invoice-content'), function() {
            //doc.save('invoice.pdf');
            doc.autoPrint();
            //This is a key for printing
            doc.output('dataurlnewwindow');
        });
    }
